<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="br.com.sf.osm_challenge">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:allowBackup="true"
                 android:label="@string/application.name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme"
                 android:name=".app.ApplicationController"
    >
        <activity
                android:name=".ui.splash.SplashActivity"
                android:label="@string/application.name"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.main.MainActivity"
                android:label="@string/application.name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>
</manifest>
